<section class="content">
    <article>

        <img class="listing-photo" alt="Foto" src="{{imovel?.url_foto}}">
        <section style="padding-left: 3.5%;" class="listing-description">
            <h2 class="listing-heading">{{imovel?.nome}}</h2>
            <p class="listing-location">{{imovel?.cidade}}, {{imovel?.estado }}</p>
        </section>

        <section style="padding-left: 3.5%;" class="listing-features">
            <h2 class="section-heading">Informações Adicionais</h2>
            <ul>
                @for(info of imovel?.aluguel; track $index){
                <li class="list" >{{info.chave}}: {{info.valor}}</li>
                }
            </ul>
        </section>

    </article>

<img (click)="voltar()" style="padding-left: 3.5%;" alt="Seta" class="Seta" src="vinte.png">

</section>